@use "../../styles/variables.scss" as vars;

.ourWorks {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: vars.$main-color;

  &__title {
    font-family: "EB Garamond";
    font-size: vars.$xll-size;
    font-weight: vars.$l-text-weight;
    margin-bottom: 8rem;
  }

  &__navigation {
    width: 50%;
    margin-bottom: 5.5rem;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        cursor: pointer;
        position: relative;
        font-size: vars.$l-size;
        font-weight: vars.$m-text-weight;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 0;
          height: 2px;
          background-color: vars.$decoration-color;
          transition: width 0.3s ease;
        }

        &:hover::after {
          width: 100%;
        }

        &:hover {
          color: vars.$decoration-color;
        }
      }
    }
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 10rem;
    &-border {
      position: relative;
      display: inline-block;
      overflow: hidden;
      cursor: pointer;
      img {
        width: 30rem;
        height: 30rem;
        transition: transform 0.3s ease;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 1;
      }

      &:hover {
        img {
          transform: scale(1.5);
        }

        &::before {
          opacity: 1;
        }
      }
    }
  }
}
