@use "../../styles/variables.scss" as vars;

.ourWorks {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: vars.$main-color;
  padding: 9rem 0;

  &__navigation {
    width: 50%;
    margin-bottom: 6rem;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        cursor: pointer;
        position: relative;
        font-size: vars.$l-size;
        font-weight: vars.$m-text-weight;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 0;
          height: 2px;
          background-color: vars.$decoration-color;
          transition: width 0.3s ease;
        }

        &:hover::after {
          width: 100%;
        }

        &:hover {
          color: vars.$decoration-color;
        }
      }
    }
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 6rem;
    &-border {
      position: relative;
      display: inline-block;
      overflow: hidden;
      cursor: pointer;
      img {
        width: 34rem;
        height: 33rem;
        transition: transform 0.3s ease;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 1;
      }

      &:hover {
        img {
          transform: scale(1.2);
        }

        &::before {
          opacity: 1;
        }
      }
    }
  }
}

.active {
  color: vars.$decoration-color;
}

.other__works {
  cursor: pointer;
  padding: 1rem;
  border: 0.1rem solid vars.$decoration-color;
  background-color: vars.$main-color;
  font-size: vars.$m-size;
  color: vars.$text-color;
  transition: background-color 0.3s ease, color 0.3s ease;
  transition: transform 0.3s ease;

  &:hover {
    background-color: vars.$decoration-color;
    color: vars.$main-color;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}
