$main-color: #111111;
$text-color: #ffffff;
$decoration-color: #cdaa7d;

$xs-size: 1.3rem;
$s-size: 1.6rem;
$m-size: 1.8rem;
$l-size: 2.4rem;
$xl-size: 2.7rem;
$xll-size: 4.8rem;
$xll-mobile-size: 4rem;
$xl-mobile-size: 3.3rem;

$m-text-weight: 400;
$l-text-weight: 700;
