@use "../../styles/variables.scss" as vars;

.services {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: vars.$main-color;
  min-height: 100vh;

  &__icon {
    width: 8rem;
    height: 6.5rem;
    margin-bottom: 9rem;
  }

  &__description {
    max-width: 70%;
    font-size: vars.$xl-size;
    margin-bottom: 9rem;

    h2 {
      font-weight: vars.$l-text-weight;
      text-align: center;
      margin-bottom: 4rem;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 4rem;
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    &_item {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-border {
        cursor: pointer;
        position: relative;
        display: inline-block;
        overflow: hidden;
        img {
          width: 34rem;
          height: 26rem;
          transition: transform 0.3s ease;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          opacity: 0;
          transition: opacity 0.3s ease;
          z-index: 1;
        }

        &:hover {
          &::before {
            opacity: 1;
          }

          img {
            transform: scale(1.05);
          }
        }
      }
    }

    &-text {
      position: relative;
      font-family: "EB Garamond";
      font-size: 3rem;
      font-weight: vars.$m-text-weight;
      cursor: pointer;

      &:hover {
        color: vars.$decoration-color;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: vars.$decoration-color;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  &__brends {
    min-width: 70%;
    margin: 9rem 0;

    &-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media (max-width: 1200px) {
  .services {
    &__description {
      text-align: center;
    }
    &__icon {
      margin-bottom: 7rem;
    }
    &__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      img {
        width: 34rem;
        height: 26rem;
      }
    }
    &__brends {
      &-group {
        img {
          width: 8rem;
          height: 8rem;
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .services {
    &__cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
    }
  }
}

@media (max-width: 690px) {
  .services {
    &__brends {
      &-group {
        img {
          width: 6rem;
          height: 6rem;
        }
      }
    }
  }
}

@media (max-width: 530px) {
  .services {
    &__icon {
      width: 6rem;
      height: 4.5rem;
    }
  }
}

@media (max-width: 470px) {
  .services {
    &__brends {
      &-group {
        img {
          width: 5rem;
          height: 5rem;
        }
      }
    }
  }
}

@media (max-width: 395px) {
  .services {
    &__icon {
      width: 5rem;
      height: 3.5rem;
    }
    &__cards {
      img {
        width: 28rem;
        height: 24rem;
      }
    }
  }
}
