@use "../../styles/variables.scss" as vars;

.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: vars.$main-color;

  &__title {
    text-align: center;
    font-size: vars.$xll-size;
  }
}

@media (max-width: 920px) {
  .errorPage {
    &__title {
      font-size: vars.$xl-size;
    }
  }
}
