@use "../../styles/variables.scss" as vars;

.customer__reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: vars.$main-color;
  padding: 3rem 0;

  h2 {
    font-family: "EB Garamond";
    font-size: vars.$xll-size;
    font-weight: vars.$l-text-weight;
    margin-bottom: 5rem;
  }

  .reviews__list {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .review__card {
    background-color: vars.$text-color;
    padding: 2rem;
    border: 0.5rem solid vars.$decoration-color;
  }

  .review__header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    .review__photo {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      margin-right: 1.5rem;
    }

    .review__info {
      h3 {
        margin: 0;
        font-size: vars.$m-size;
        color: vars.$main-color;
      }

      .review__rating {
        color: vars.$main-color;
        font-size: 2.3rem;
      }
    }
  }

  .review__text {
    font-size: vars.$m-size;
    color: vars.$main-color;
  }
}

.review__otherfeedback {
  cursor: pointer;
  margin-top: 3rem;
  padding: 1rem;
  border: 0.1rem solid vars.$decoration-color;
  background-color: vars.$main-color;
  font-size: vars.$m-size;
  color: vars.$text-color;
  transition: background-color 0.3s ease, color 0.3s ease;
  transition: transform 0.3s ease;

  &:hover {
    background-color: vars.$decoration-color;
    color: vars.$main-color;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}
