@use "../../styles/variables.scss" as vars;

.sidebar {
  background-color: vars.$main-color;
  min-height: 100vh;
  width: 25%;
  padding: 0 7rem;
  float: right;

  &__textContent {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: vars.$m-size;
  }

  &__title {
    margin-bottom: 2.5rem;
    font-size: vars.$l-size;
    font-weight: vars.$l-text-weight;
  }

  &__listItem {
    margin-bottom: 2.5rem;
  }
}
