@use "../../styles/variables.scss" as vars;

.service-prices {
  display: flex;
  background-color: vars.$main-color;
  justify-content: center;
  min-height: 100vh;
  padding: 9rem 0;
}

.service-grid {
  width: 70%;
  display: flex;
  flex-direction: column;

  .service-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;

    img {
      max-width: 50rem;
      max-height: 60rem;
    }

    .service-title {
      text-align: center;
      font-size: vars.$xl-size;
      margin-bottom: 3rem;
    }

    ul {
      width: 47%;

      .title {
        margin-bottom: 1rem;
        font-size: vars.$l-size;

        .price {
          float: right;
        }
      }
    }

    &.left {
      flex-direction: row;
    }

    &.right {
      flex-direction: row-reverse;
    }
  }
}
